aiohappyeyeballs==2.6.1 ; python_version >= "3.10" and python_version < "4.0"
aiohttp==3.13.2 ; python_version >= "3.10" and python_version < "4.0"
aiosignal==1.4.0 ; python_version >= "3.10" and python_version < "4.0"
annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "4.0"
anthropic==0.72.0 ; python_version >= "3.10" and python_version < "4.0"
anyio==4.11.0 ; python_version >= "3.10" and python_version < "4.0"
async-timeout==4.0.3 ; python_version == "3.10"
attrs==25.4.0 ; python_version >= "3.10" and python_version < "4.0"
boto3==1.40.68 ; python_version >= "3.10" and python_version < "4.0"
botocore==1.40.68 ; python_version >= "3.10" and python_version < "4.0"
bottleneck==1.6.0 ; python_version >= "3.10" and python_version < "4.0"
brotli==1.2.0 ; python_version >= "3.10" and python_version < "4.0" and platform_python_implementation == "CPython"
brotlicffi==1.1.0.0 ; python_version >= "3.10" and python_version < "4.0" and platform_python_implementation != "CPython"
cachetools==6.2.1 ; python_version >= "3.10" and python_version < "4.0"
certifi==2025.10.5 ; python_version >= "3.10" and python_version < "4.0"
cffi==2.0.0 ; python_version >= "3.10" and python_version < "4.0" and platform_python_implementation != "CPython"
charset-normalizer==3.4.4 ; python_version >= "3.10" and python_version < "4.0"
clarifai-grpc==11.10.1 ; python_version >= "3.10" and python_version < "4.0"
clarifai-protocol==0.0.33 ; python_version >= "3.10" and python_version < "4.0"
clarifai==11.9.0 ; python_version >= "3.10" and python_version < "4.0"
click==8.3.0 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
contextlib2==21.6.0 ; python_version >= "3.10" and python_version < "4.0"
dataclasses-json==0.6.7 ; python_version >= "3.10" and python_version < "4.0"
ddgs==9.8.0 ; python_version >= "3.10" and python_version < "4.0"
distro==1.9.0 ; python_version >= "3.10" and python_version < "4.0"
docstring-parser==0.17.0 ; python_version >= "3.10" and python_version < "4.0"
exceptiongroup==1.3.0 ; python_version == "3.10"
faiss-cpu==1.11.0.post1 ; python_version >= "3.14" and python_version < "4.0"
faiss-cpu==1.12.0 ; python_version >= "3.10" and python_version < "3.14"
filelock==3.20.0 ; python_version >= "3.10" and python_version < "4.0"
filetype==1.2.0 ; python_version >= "3.10" and python_version < "4.0"
frozenlist==1.8.0 ; python_version >= "3.10" and python_version < "4.0"
fsspec==2025.10.0 ; python_version >= "3.10" and python_version < "4.0"
google-ai-generativelanguage==0.9.0 ; python_version >= "3.10" and python_version < "4.0"
google-api-core==2.28.1 ; python_version >= "3.10" and python_version < "4.0"
google-api-python-client==2.187.0 ; python_version >= "3.10" and python_version < "4.0"
google-auth-httplib2==0.2.1 ; python_version >= "3.10" and python_version < "4.0"
google-auth==2.43.0 ; python_version >= "3.10" and python_version < "4.0"
google-cloud-aiplatform==1.126.1 ; python_version >= "3.10" and python_version < "4.0"
google-cloud-bigquery==3.38.0 ; python_version >= "3.10" and python_version < "4.0"
google-cloud-core==2.5.0 ; python_version >= "3.10" and python_version < "4.0"
google-cloud-resource-manager==1.15.0 ; python_version >= "3.10" and python_version < "4.0"
google-cloud-storage==2.19.0 ; python_version >= "3.10" and python_version < "4.0"
google-crc32c==1.7.1 ; python_version >= "3.10" and python_version < "4.0"
google-genai==1.49.0 ; python_version >= "3.10" and python_version < "4.0"
google-resumable-media==2.7.2 ; python_version >= "3.10" and python_version < "4.0"
googleapis-common-protos==1.72.0 ; python_version >= "3.10" and python_version < "4.0"
greenlet==3.2.4 ; python_version >= "3.10" and python_version < "4.0" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
groq==0.33.0 ; python_version >= "3.10" and python_version < "4.0"
grpc-google-iam-v1==0.14.3 ; python_version >= "3.10" and python_version < "4.0"
grpcio-status==1.76.0 ; python_version >= "3.10" and python_version < "4.0"
grpcio==1.76.0 ; python_version >= "3.10" and python_version < "4.0"
h11==0.16.0 ; python_version >= "3.10" and python_version < "4.0"
h2==4.3.0 ; python_version >= "3.10" and python_version < "4.0"
hf-xet==1.2.0 ; python_version >= "3.10" and python_version < "4.0" and (platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "arm64" or platform_machine == "aarch64")
hpack==4.1.0 ; python_version >= "3.10" and python_version < "4.0"
httpcore==1.0.9 ; python_version >= "3.10" and python_version < "4.0"
httplib2==0.31.0 ; python_version >= "3.10" and python_version < "4.0"
httpx-sse==0.4.3 ; python_version >= "3.10" and python_version < "4.0"
httpx==0.28.1 ; python_version >= "3.10" and python_version < "4.0"
huggingface-hub==0.36.0 ; python_version >= "3.10" and python_version < "4.0"
hyperframe==6.1.0 ; python_version >= "3.10" and python_version < "4.0"
idna==3.11 ; python_version >= "3.10" and python_version < "4.0"
jiter==0.11.1 ; python_version >= "3.10" and python_version < "4.0"
jmespath==1.0.1 ; python_version >= "3.10" and python_version < "4.0"
jq==1.10.0 ; python_version >= "3.10" and python_version < "4.0"
jsonpatch==1.33 ; python_version >= "3.10" and python_version < "4.0"
jsonpointer==3.0.0 ; python_version >= "3.10" and python_version < "4.0"
langchain-anthropic==1.0.1 ; python_version >= "3.10" and python_version < "4.0"
langchain-aws==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
langchain-classic==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
langchain-community==0.4.1 ; python_version >= "3.10" and python_version < "4.0"
langchain-core==1.0.3 ; python_version >= "3.10" and python_version < "4.0"
langchain-google-genai==3.0.1 ; python_version >= "3.10" and python_version < "4.0"
langchain-google-vertexai==3.0.2 ; python_version >= "3.10" and python_version < "4.0"
langchain-groq==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
langchain-ollama==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
langchain-openai==1.0.2 ; python_version >= "3.10" and python_version < "4.0"
langchain-text-splitters==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
langchain==1.0.4 ; python_version >= "3.10" and python_version < "4.0"
langgraph-checkpoint==3.0.1 ; python_version >= "3.10" and python_version < "4.0"
langgraph-prebuilt==1.0.2 ; python_version >= "3.10" and python_version < "4.0"
langgraph-sdk==0.2.9 ; python_version >= "3.10" and python_version < "4.0"
langgraph==1.0.2 ; python_version >= "3.10" and python_version < "4.0"
langsmith==0.4.41 ; python_version >= "3.10" and python_version < "4.0"
lxml==6.0.2 ; python_version >= "3.10" and python_version < "4.0"
marshmallow==3.26.1 ; python_version >= "3.10" and python_version < "4.0"
multidict==6.7.0 ; python_version >= "3.10" and python_version < "4.0"
mypy-extensions==1.1.0 ; python_version >= "3.10" and python_version < "4.0"
numexpr==2.14.1 ; python_version >= "3.10" and python_version < "4.0"
numpy==2.2.6 ; python_version == "3.10"
numpy==2.3.4 ; python_version >= "3.11" and python_version < "4.0"
ollama==0.6.0 ; python_version >= "3.10" and python_version < "4.0"
openai==1.109.1 ; python_version >= "3.10" and python_version < "4.0"
orjson==3.11.4 ; python_version >= "3.10" and python_version < "4.0"
ormsgpack==1.12.0 ; python_version >= "3.10" and python_version < "4.0"
packaging==25.0 ; python_version >= "3.10" and python_version < "4.0"
pillow==10.4.0 ; python_version >= "3.10" and python_version < "4.0"
primp==0.15.0 ; python_version >= "3.10" and python_version < "4.0"
propcache==0.4.1 ; python_version >= "3.10" and python_version < "4.0"
proto-plus==1.26.1 ; python_version >= "3.10" and python_version < "4.0"
protobuf==6.33.0 ; python_version >= "3.10" and python_version < "4.0"
psutil==7.0.0 ; python_version >= "3.10" and python_version < "4.0"
pyarrow==21.0.0 ; python_version >= "3.10" and python_version < "4.0"
pyasn1-modules==0.4.2 ; python_version >= "3.10" and python_version < "4.0"
pyasn1==0.6.1 ; python_version >= "3.10" and python_version < "4.0"
pycparser==2.23 ; python_version >= "3.10" and python_version < "4.0" and platform_python_implementation != "CPython" and implementation_name != "PyPy"
pydantic-core==2.33.2 ; python_version >= "3.10" and python_version < "4.0"
pydantic-settings==2.11.0 ; python_version >= "3.10" and python_version < "4.0"
pydantic==2.11.10 ; python_version >= "3.10" and python_version < "4.0"
pygments==2.19.2 ; python_version >= "3.10" and python_version < "4.0"
pyparsing==3.2.5 ; python_version >= "3.10" and python_version < "4.0"
pypdf==6.1.3 ; python_version >= "3.10" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "4.0"
python-dotenv==1.2.1 ; python_version >= "3.10" and python_version < "4.0"
pyyaml==6.0.3 ; python_version >= "3.10" and python_version < "4.0"
regex==2025.11.3 ; python_version >= "3.10" and python_version < "4.0"
requests-toolbelt==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
requests==2.32.5 ; python_version >= "3.10" and python_version < "4.0"
rsa==4.9.1 ; python_version >= "3.10" and python_version < "4.0"
ruff==0.11.4 ; python_version >= "3.10" and python_version < "4.0"
s3transfer==0.14.0 ; python_version >= "3.10" and python_version < "4.0"
safetensors==0.6.2 ; python_version >= "3.10" and python_version < "4.0"
schema==0.7.5 ; python_version >= "3.10" and python_version < "4.0"
setuptools==78.1.1 ; python_version >= "3.10" and python_version < "4.0"
shapely==2.1.2 ; python_version >= "3.10" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.10" and python_version < "4.0"
sniffio==1.3.1 ; python_version >= "3.10" and python_version < "4.0"
socksio==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
sqlalchemy==2.0.44 ; python_version >= "3.10" and python_version < "4.0"
tabulate==0.9.0 ; python_version >= "3.10" and python_version < "4.0"
tenacity==9.1.2 ; python_version >= "3.10" and python_version < "4.0"
tiktoken==0.7.0 ; python_version >= "3.10" and python_version < "4.0"
tokenizers==0.22.1 ; python_version >= "3.10" and python_version < "4.0"
tqdm==4.67.1 ; python_version >= "3.10" and python_version < "4.0"
transformers==4.57.1 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.15.0 ; python_version >= "3.10" and python_version < "4.0"
typing-inspect==0.9.0 ; python_version >= "3.10" and python_version < "4.0"
typing-inspection==0.4.2 ; python_version >= "3.10" and python_version < "4.0"
uritemplate==4.2.0 ; python_version >= "3.10" and python_version < "4.0"
urllib3==2.5.0 ; python_version >= "3.10" and python_version < "4.0"
uv==0.7.12 ; python_version >= "3.10" and python_version < "4.0"
validators==0.35.0 ; python_version >= "3.10" and python_version < "4.0"
websockets==15.0.1 ; python_version >= "3.10" and python_version < "4.0"
xxhash==3.6.0 ; python_version >= "3.10" and python_version < "4.0"
yarl==1.22.0 ; python_version >= "3.10" and python_version < "4.0"
zstandard==0.25.0 ; python_version >= "3.10" and python_version < "4.0"
